@{
    ViewData["Title"] = "Our Story";
}
<style>
    p {
        font-size: larger; 
    }

    h2 {
        text-align: center; 
    }

    .love-story {
        box-shadow: 10px 10px 30px lightgray; 
        padding: 5rem; 
        border: 0.5px solid whitesmoke; 
        border-radius: 5px; 
    }
</style>
<section class="love-story">
    <article>
        <h2>The Andrew and Abby Love Story</h2>
        <br />
        <p>
            The year was 2015. The place was Cincinnati, Ohio. It was there at University of Cincinnati’s Environmental Engineering program that Abby and Andrew met for the first time. Their love initially began with a friendship that was accented by frequent hikes in local parks and nights with their friends. In short time, their friendship blossomed into romantic interest and, after shoving back self-doubt, Andrew asked Abby on the couple’s first date.
        </p>
        <p>
            Their first date was at The Little Field in the quaint and adorable Northside township. Andrew picked Abby up on his Kawasaki 500 motorcycle and the two spent a lovely romantic evening together. It was there that the seeds of their love were planted and their lives together began.
        </p>
        <p>
            In the five years following their romantic evening together Andrew and Abby have built a wonderful life together and have shared in many romantic and cheerful memories. The couple has tested many local eateries, hosted a variety of dinner parties, and taken numerous motorcycle rides together, rolling through the Kentucky countryside without a care in the world. Abby and Andrew have also navigated the globe together, making it as far north as Iceland, on an impromptu transcontinental weekend adventure. More substantially each has interwoven themselves into the families that they share with frequent holiday visits, beach vacations, and babysitting-hangout sessions. However, the substance of their eternal love for one another is not wholly founded on their cheerful memories together.

        </p>
        <p>
            Their decision to make a lifelong commitment together can be traced back to the days in which the two moved to Raleigh with their psychotic yet lovable cat. The journey was tough and was rife with emotional distress. The move was also trying in the months that followed with Andrew in Graduate school, Abby new to Raleigh, and the pandemic that followed. The couple face many hardships and yet their love never faltered. Their decision to commit themselves to one another came through overcoming and triumphing over these hardships together and having more love for each other at the end than they had stared with.
        </p>
        <p>
            The final chapter of this unfinished story begins with the couple sipping wine on the beach, by the lighthouse, toasting their engagement, and imagining all the great memories that they will make next in happier times. It ends with the lovebirds buying a home together and sharing their loves with all their new friends in Raleigh. Abby and Andrew cannot wait to write the next chapters of their story with the ones that they love and are excited to see what great adventures are to come.
        </p>
    </article>
</section>