
@{
    ViewData["Title"] = "Wedding Details";
}
<style>
    p {
        font-size: larger;
    }

    h2 {
        text-align: center;
    }

    .wedding-details {
        box-shadow: 10px 10px 30px lightgray;
        padding: 5rem;
        border: 0.5px solid whitesmoke;
        border-radius: 5px;
    }
</style>
<section class="wedding-details">
    <article>
        <h2>Wedding Details</h2>
        <br />
        <p>
            The ongoing COVID-19 pandemic has made planning an extensive wedding with all friends and family challenging. Keeping this in mind, the wedding ceremony held on April 23, 2021 will be limited to immediate family members.
        </p>
        <p>
            We are truly sorry that we cannot have the event we always hoped for. However, our current pandemic reality will surely pass one day at which point we will be holding a much larger event and will include all the loved ones that could not celebrate with us on our wedding day. The date and location of this event has yet to be determined. We will provide more information to guests once we are able to plan the event.
        </p>
        <p>
            To all the immediate family members who will be attending our wedding, we ask that you take a few precautions to keep everyone safe. For the two weeks leading up to the event, please limit your participation in air travel, indoor dining, and interaction with people not an immediate member of your household. In addition, please remember to wear face masks consistently and, if you can, get a vaccination leading up to the event.
        </p>
        <p>
            Thank you to all of our friends and family who have supported us leading up to the wedding. We love and appreciate you beyond measure. We cannot wait to celebrate with you!
        </p>
    </article>
</section>


