@{
    ViewData["Title"] = "RSVP";
}


<form id="guestLookup">
    <div class="form-group">
        <label>Full Name</label>
        <div class="tt-container">
            <input id="fullName" required type="text" value="" class="form-control" />
        </div>
    </div>
    <button class="btn btn-primary">Find Your Invitation</button>
</form>

@section scripts
{
    <script src="~/lib/typeahead.js/typeahead.bundle.js"></script>
    <script>

        function lookupGuestByName(fullName) {

        }

        $(document).ready(function () {
            var guests = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('fullName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/Guests?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            var vm = {};

            $('#fullName').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'guests',
                display: 'fullName',
                source: guests
            }).on("typeahead:select", function (e, guest) {
                vm.Id = guest.id;
            });

            $("#guestLookup").submit(function (e) {
                e.preventDefault();

                if (vm.Id === undefined)
                    window.location.href = "@Url.Action("GuestConfirmation", "RSVP")?searchString=" + $("#fullName").val();
                else
                    window.location.href = "@Url.Action("Invitation", "RSVP")?guestId=" + vm.Id;
            });

        });

    </script>
}


