@model WeddingWebsite.Models.RSVP
@{
    ViewData["Title"] = "RSVP";
}


@*    <form id="attendenceForm">
        <div id="guestAttentence">
            <div class="form-group row">
                <div class="col-sm-2">
                    <label class="form-check-label" for="guestOneAttending">
                        @Model.GuestOneName
                    </label>
                </div>
                <div class="btn-group btn-group-toggle col-sm-3" data-toggle="buttons" id="guestOneAttendence">
                    <label class="btn btn-outline-info">
                        <input type="radio" name="options" id="guestOneAttending" required autocomplete="off"> Accept
                    </label>
                    <label class="btn btn-outline-info">
                        <input type="radio" name="options" id="guestOneNotAttending" autocomplete="off"> Decline
                    </label>
                </div>
            </div>
            @if (Model.GuestTwoName != null)
            {
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label class="form-check-label" for="guestTwoAttending">
                            @Model.GuestTwoName
                        </label>
                    </div>
                    <div class="btn-group btn-group-toggle col-sm-3" data-toggle="buttons" id="guestTwoAttendence">
                        <label class="btn btn-outline-info">
                            <input type="radio" name="options2" id="guestTwoAttending" required autocomplete="off"> Accept
                        </label>
                        <label class="btn btn-outline-info">
                            <input type="radio" name="options2" id="guestTwoNotAttending" autocomplete="off"> Decline
                        </label>
                    </div>
                </div>
            }
        </div>
        <button class="btn btn-primary" type="submit" id="nextGuestAttendence">Next</button>
    </form>
    <form id="contactInformationForm"  style="display:none">
        <div id="contactInformation">
            <div class="form-group">
                <label>Email Address</label>
                <div class="tt-container">
                    <input id="emailAddress" required type="email" value="" class="form-control" />
                </div>
            </div>
            <button class="btn btn-primary" type="button" id="prevContactInformation">Previous</button>
            <button class="btn btn-primary" type="submit" id="nextGuestContactInfo">Next</button>
        </div>
    </form>
    <form id="timelineForm" style="display:none">
        <div class="form-group">
            <label>Day of Arrival</label>
            <div class="tt-container">
                <input id="arrivalDay" required type="date" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label>Time of Arrival</label>
            <div class="tt-container">
                <input id="arrivalTime" required type="time" value="" class="form-control" />
            </div>
        </div>
        <button class="btn btn-primary" type="button" id="prevGuestContactInfo">Previous</button>
        <button class="btn btn-primary" type="submit" id="nextSongRequests">Next</button>
    </form>*@
    <form id="songRequestForm">
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="songArtist" placeholder="Song Artist">
                    <div class="invalid-feedback" id="invalidArtist">Song Artist Cannot Be Blank</div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="songName" placeholder="Song Name">
                    <div class="invalid-feedback" id="invalidSong">Song Name Cannot Be Blank</div>
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="button" id="addSong">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <ul id="songs" class="list-group"></ul>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="button" id="prevGuestContactInfo">Previous</button>
        <button class="btn btn-primary" type="submit" id="nextSongRequests">Next</button>
    </form>


@section scripts { 
    <script>

        function addSong() {
            $("#addSong").click(function () {
                let song = $("#songName").val().trim();
                let artist = $("#songArtist").val().trim();

                $("#invalidSong").hide();
                $("#invalidArtist").hide();

                if (song === "" && artist === "") {
                    $("#invalidSong").show();
                    $("#invalidArtist").show();
                    return false;
                }

                if (song == "") {
                    $("#invalidSong").show();
                    return false;
                }

                if (artist == "") {

                    $("#invalidArtist").show();
                    return false;
                }

                $("#songs").append("<li>" + song + " by " + artist + "</li>")

            });

        }

        $(document).ready(function () {
            addSong(); 
            $("#attendenceForm").submit(function (e) {
                e.preventDefault();
                $("#attendenceForm").hide();
                $("#contactInformationForm").show();
            });

            $("#prevContactInformation").click(function () {
                $("#contactInformationForm").hide();
                $("#attendenceForm").show();
            });

            $("#contactInformationForm").submit(function (e) {
                e.preventDefault();
                $("#contactInformationForm").hide();
                $("#timelineForm").show();
            });

            $("#prevGuestContactInfo").click(function () {
                $("#contactInformationForm").show();
                $("#timelineForm").hide();
            });

            $("#timelineForm").submit(function (e) {
                e.preventDefault();
                $("#timelineForm").hide();
                $("#songRequestForm").show();
            });
        })
    </script>
}
