@model WeddingWebsite.Models.RSVP
@{
    ViewData["Title"] = "RSVP";
}


    <form id="rsvpForm">
        <div id="guestAttentence">
            <div class="form-group row">
                <div class="col-sm-2">
                    <label class="form-check-label" for="guestOneAttending">
                        @Model.GuestOneName
                    </label>
                </div>
                <div class="btn-group btn-group-toggle col-sm-3" data-toggle="buttons" id="guestOneAttendence">
                    <label class="btn btn-outline-info">
                        <input type="radio" name="options" id="guestOneAttending" required autocomplete="off"> Accept
                    </label>
                    <label class="btn btn-outline-info">
                        <input type="radio" name="options" id="guestOneNotAttending" autocomplete="off"> Decline
                    </label>
                </div>
            </div>
            @if (Model.GuestTwoName != null)
            {
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label class="form-check-label" for="guestTwoAttending">
                            @Model.GuestTwoName
                        </label>
                    </div>
                    <div class="btn-group btn-group-toggle col-sm-3" data-toggle="buttons" id="guestTwoAttendence">
                        <label class="btn btn-outline-info">
                            <input type="radio" name="options" id="guestTwoAttending" required autocomplete="off"> Accept
                        </label>
                        <label class="btn btn-outline-info">
                            <input type="radio" name="options" id="guestTwoNotAttending" autocomplete="off"> Decline
                        </label>
                    </div>
                </div>
            }
            <button class="btn btn-primary" id="nextGuestAttendence">Next</button>
        </div>
        <div id="contactInformation" style="display:none">
            <div class="form-group">
                <label>Email Address</label>
                <div class="tt-container">
                    <input id="emailAddress" required type="email" value="" class="form-control" />
                </div>
            </div>
            <button class="btn btn-primary" id="prevContactInformation">Previous</button>
            <button class="btn btn-primary" id="nextGuestContactInfo">Next</button>
        </div>
        <div id="submit" style="display:none">
            <button class="btn btn-primary">RSVP</button>
        </div>
    </form>

@section scripts { 
    <script>
        function guestPage() {
            $("#nextGuestAttendence").click(function () {
                $("#guestAttentence").hide();
                $("#contactInformation").show();
            });
        }

        function contactPage() {
            $("#prevContactInformation").click(function () {
                $("#contactInformation").hide();
                $("#guestAttentence").show();
            });

            $("#nextGuestContactInfo").click(function () {
                $("#guestAttentence").hide();
                $("#contactInformation").show();
            });
        }

        $(document).ready(function () {
            guestPage(); 
            contactPage();
        })
    </script>
}
