<form id="contactInformationForm" style="display:none">
    <div id="contactInformation">
        <div class="form-group">
            <label>Email Address</label>
            <div class="tt-container">
                <input id="emailAddress" required type="email" value="" class="form-control" />
            </div>
        </div>
        <button class="btn btn-primary" type="button" id="prevContactInformation">Previous</button>
        <button class="btn btn-primary" type="submit" id="nextGuestContactInfo">Next</button>
    </div>
</form>