<form id="marriageAdviceForm" style="display:none">
    <div class="form-group">
        <label for="marriageAdvice">Marriage Advice</label>
        <textarea class="form-control" id="marriageAdvice" rows="3" spellcheck="true"></textarea>
    </div>
    <button class="btn btn-primary" type="button" id="prevDrinkForm">Previous</button>
    <button class="btn btn-primary" type="submit" id="submitRSVP">Submit RSVP</button>
</form>