
<h1>New Guest Form</h1>

<form id="newGuest">
    <div id="firstGuest">
        <div class="form-group">
            <label>First Name</label>
            <input id="firstName1" required type="text" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label>Middle Name</label>
            <input id="middleName1" type="text" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input id="lastName1" required type="text" value="" class="form-control" />
        </div>
    </div>
    <br />
    <div id="addGuestLogic">
        <label class="form-check-label" for="exampleRadios1">
            Part of a Couple?
        </label>
        <br />
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="partOfCouple" id="yesRadio" value="yes">
            <label class="form-check-label" for="yesRadio">
                Yes
            </label>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="partOfCouple" id="noRadio" value="no" checked>
            <label class="form-check-label" for="noRadio">
                No
            </label>
        </div>
    </div>
    <br />
    <div id="secondGuest" style="display:none">
        <div class="form-group">
            <label>First Name</label>
            <input id="firstName2" type="text" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label>Middle Name</label>
            <input id="middleName2" type="text" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input id="lastName2" type="text" value="" class="form-control" />
        </div>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>

@section scripts 
{
    
    <script>

        function getGuestOneViewModel() {
            let vm = {};
            vm.firstName = $("#firstName1").val();
            vm.middleName = $("#middleName1").val();
            vm.lastName = $("#lastName1").val();

            return vm; 
        }

        function getGuestTwoViewModel() {
            let vm = {};
            vm.firstName = $("#firstName2").val();
            vm.middleName = $("#middleName2").val();
            vm.lastName = $("#lastName2").val();

            if (vm.firstName == "")
                return null; 

            return vm;
        }

        function getCoupleViewModel() {
            let vm = {};
            let guestOne = getGuestOneViewModel();
            let guestTwo = getGuestTwoViewModel(); 

            vm.guestOne = guestOne; 
            vm.guestTwo = guestTwo; 

            return vm; 
        }

        function resetForm() {
            $('#secondGuest').hide();
            $("#newGuest")[0].reset();
            $("#firstName1").select();
        }

        function ajaxPostGuest(viewModel) {
            return $.ajax({
                url: "/api/Guests",
                method: "post",
                contentType: 'application/json',
                data: viewModel
            });

        }

        function ajaxPostCouple(viewModel) {
            return $.ajax({
                url: "/api/Couples",
                method: "post",
                contentType: 'application/json',
                data: viewModel
            });
        }

        function loadRadioBtnBehavior() {
            $('#yesRadio').on('click', function () {
                $('#secondGuest').show();
                $("#firstName2").attr('required', true);
                $("#lastName2").attr('required', true);
            });

            $('#noRadio').on('click', function () {
                $('#secondGuest').hide();
                $("#firstName2").val('');
                $("#middleName2").val('');
                $("#lastName2").val('');
                $("#firstName2").attr('required', false);
                $("#lastName2").attr('required', false);
            });
        }

        $(document).ready(function () {

            loadRadioBtnBehavior();
            
            $("#newGuest").submit(function (e) {
                e.preventDefault();

                let guestOne = JSON.stringify(getGuestOneViewModel());
                let guestTwo = JSON.stringify(getGuestTwoViewModel()); 
                let couple = JSON.stringify(getCoupleViewModel());

                if (guestTwo == 'null') {
                    ajaxPostGuest(guestOne).then(resetForm());
                }
                else {
                    $.when(ajaxPostGuest(guestOne), ajaxPostGuest(guestTwo)).done(function (guestOneDto, guestTwoDto) {
                        let vm = {
                            "guestOne": guestOneDto[0],
                            "guestTwo": guestTwoDto[0]
                        };
                        ajaxPostCouple(JSON.stringify(vm)).then(resetForm()); 
                    });
                }


            });
        })
    </script>
}