
<h1>Guest Management Portal</h1>

<table id="guestsTable">
    <thead>
        <tr>
            <th>Edit</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts {
    <script>
        let guestsDataTable; 

        function buildGuestsTable() {
            $("#guestsTable").datatable(

            );
        }

        $(document).ready(function () {
            console.log("Hello world");
        })
    </script>
}